@charset "UTF-8";
header{
    background-color: gray;
    padding: 20px;
}
.caixa{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: white;
    text-decoration: underline;
}
main{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
form{
    margin: 40px 0;
}
form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 20px;
}
.input-padrao{
    display: block;
    padding: 10px;
    margin: 0 0 20px;
    width: 50%;
}
.checkbox{
    margin: 30px 0;
}
fieldset{
    margin: 0 0 15px;
}
select {
    background-color: rgba(0, 0, 0, 0.473);
    color: white;
    font-size: 15px;
    padding: 6px;
    border: 1px solid black;
    border-radius: 10px;
    
}
.submit{
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 16px;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.submit:hover{
    background-color: darkorange;
    font-size: 18px;
    transition: 1s;
}
table{
    border-collapse: collapse;
    width: 500px;
    margin: 30px 0;
    text-align: center;
}
tr, th, td{
    border: 1px solid black;
    font-size: 20px;
    padding: 5px;
}
.titletable{
    background-color: rgba(65, 65, 65, 0.76);
    color: white;
}
footer{
    text-align: center;
    background-image: url("../produtos/bg.jpg");
    padding: 40px 0;
}
.copyright{
    color: white;
    font-size: 15px;
    margin-top: 10px;
}
@media screen and (max-width: 480px) {
    .caixa, .list, .input-padrao, table{
        width: auto;
    }
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    textarea{
        width: 300px;
    }
    
}